<div id="demo" class="carousel slide" data-ride="carousel">

   
    
    <!-- The slideshow -->
    <div class="container-fluid carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath1?.Poster}}">
        </div>    
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath2?.Poster}}">
        </div>   
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath3?.Poster}}">
        </div>  
      </div>
      <div class="carousel-item">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath4?.Poster}}">
        </div>    
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath5?.Poster}}">
        </div>   
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath6?.Poster}}">
        </div>  
      </div>
      <div class="carousel-item">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath7?.Poster}}">
        </div>    
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath8?.Poster}}">
        </div>   
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="{{Imgpath9?.Poster}}">
        </div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>